@using Microsoft.AspNetCore.Identity
@using Karma.Models

@inject SignInManager<User> SignInManager
@inject UserManage UserManager

@{
    ViewData["Title"] = "Index";
}

<div class="row" style="margin-top:10px">
    <div class="col-md-10">
        <ul class="nav nav-tabs" mb-3" id="navs-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="navs-a-tab" href="#navs-a" role="tab" aria-controls="navs-a" aria-selected="true">Charity details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="navs-b-tab" href="#navs-b" role="tab" aria-controls="navs-b" aria-selected="false">Charity categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="navs-c-tab" href="#navs-c" role="tab" aria-controls="navs-c" aria-selected="false">Charity addresses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="navs-d-tab" href="#navs-d" role="tab" aria-controls="navs-d" aria-selected="false">Users</a>
            </li>
        </ul>

        <div class="tab-content" id="navs-tabContent">
            <div class="tab-pane fade show active" id="navs-a" role="tabpanel" aria-labelledby="navs-a-tab">
                @{await (Html.RenderPartialAsync("~/Views/Charities/Edit.cshtml", 
                      UserManager.GetCharityByUserRole("Charity manager", UserManager.GetUserId(User))));}
            </div>
            @*<div class="tab-pane fade" id="pills-b" role="tabpanel" aria-labelledby="pills-b-tab">
                @{await (Html.RenderPartialAsync("~/Views/CharityManager/Users.cshtml", Model));}
            </div>*@
        </div>

    </div>

</div>
<div style="margin-bottom:30px"></div>