@model ErrorViewModel
@{
    ViewBag.Title = "404";
}

<div class="alert alert-danger mt-1 mb-1">
    <h1>404 Page not found</h1>
    <hr />
    <h5>
        Post does not exist.
    </h5>
</div>

<a asp-controller="Posts" asp-action="index" class="btn btn-outline-success"
   style="width:auto">Click here to go back to posts</a>