@model Karma.Models.Charity

@{
    ViewData["Title"] = "Details";
}

<div>
    <hr />
    Categories: @ItemTypes.GetItemTypesNames(Model.ItemTypes).ToString();
    <br />
    Review state: @Html.DisplayFor(model => model.ReviewState)
    @if (Model.ImagePath != null && Model.ImagePath != "")
    {
        <img src="/@Charity.ImagesDirName/@Model.ImagePath" asp-append-version="true"
             alt="Item image" class="img-fluid" style="max-width:400px;" />
    }
</div>
<br />
<div>
    Posted at @Html.DisplayFor(model => model.DateCreated)
</div>
<hr />
