@model Karma.Models.Charity

@{
    ViewData["Title"] = "Details";
    var charityItemTypes = Model.GetItemTypes();
}

<h1>@Model.Name</h1>

<div>
    <div>Review state: @Html.DisplayFor(model => model.ReviewState)</div>
    @if (charityItemTypes.Any())
    {
        <div>
            Charity item types: @string.Join(", ", charityItemTypes)
        </div>
    }
    <hr />
    @if (Model.ImagePath != null && Model.ImagePath != "")
    {
        <img src="/@Charity.ImagesDirName/@Model.ImagePath" asp-append-version="true"
             alt="Item image" class="img-fluid" style="max-width:400px;" />
        <br />
    }
</div>
<hr />
<div>
    Posted at @Html.DisplayFor(model => model.DateCreated)
</div>
