@page
@model IndexModel
@{
    ViewData["ActivePage"] = ManageNavPages.Index;
    ViewData["Title"] = "Profile";

    var rating = Math.Round(Model.RatingAverage);
    var preciseRating = String.Format("{0:0.00}", Model.RatingAverage);

}




<h4>@ViewData["Title"]</h4>

<partial name="_StatusMessage" model="Model.StatusMessage" />
<partial name="~/Views/Profile/Index.cshtml" for="@Model">
    <partial name="~/Areas/Identity/Pages/Account/Manage/History.cshtml" for="@Model" />
    <br />


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
