@page
@model IndexModel
@{
    ViewData["ActivePage"] = ManageNavPages.Index;
}




<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<partial name="~/Views/Profile/Index.cshtml" for="@Model">
    <br />


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
