@model Karma.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    ViewData["Title"] = "Edit Profile";
}
<html>
<body>
    <div>
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="currentUser.Name" />
            <input type="hidden" asp-for="currentUser.Surname" />
            <input type="hidden" asp-for="currentUser.IpAddress" />
            <input type="hidden" asp-for="currentUser.UserName" />
            <input type="hidden" asp-for="currentUser.Email" />
            <input type="hidden" asp-for="currentUser.Id" />

            <div class="container">
                <div class="main-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <partial name="~/Views/Profile/ProfileBox.cshtml" for="@Model">
                                <hr class="my-4">

                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <div class="form-group">
                                                <a href="~/Identity/Account/Manage/Email" URL class="btn btn-primary">Change Email</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Phone number</h6>

                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <div class="form-group">
                                                <a href="~/Identity/Account/Manage" URL class="btn btn-primary">Change Phone Number</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Password</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <div class="form-group">
                                                <a href="~/Identity/Account/Manage/ChangePassword" URL class="btn btn-primary">Change Password</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Description</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <div class="form-group">
                                                <textarea asp-for="currentUser.Description" class="form-control" rows="6"></textarea>
                                                <span asp-validation-for="currentUser.Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Update Image</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <div class="form-group">
                                                <input asp-for="currentUser.ImagePath" type="file" class="form-control-file" accept=".jpg, .jpeg, .png, .bmp" name="file" />
                                                <span class="text-danger">@ViewBag.Message</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3"></div>
                                        <div class="form-group">
                                            <input type="submit" value="Save changes" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="currentUser.IsActive" />
        </form>
    </div>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}