@using Karma.Models 

@model IEnumerable<Karma.Models.CharityItemType>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemType)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ItemType.Name
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", "CharityItemTypes", new { charityId = item.CharityId, itemTypeId = item.ItemTypeId })
            </td>
        </tr>
}
    </tbody>
</table>
