@model SelectCategoryViewModel

<form asp-action="SelectCategory">
    <div class="form-group">


        <label asp-for="ItemType" class="control-label">Category</label>
        <select asp-for="ItemType" class="form-control"
                asp-items='@new SelectList(ItemTypes.Types, "Key", "Value")'>
            <option selected value="-1">Select...</option>
        </select>

        @Html.HiddenFor(m => m.ActionType)

        <span asp-validation-for="ItemType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>