@model SelectCategoryViewModel


 <div class="form-group">
     <label class="control-label">Category</label>
     <select id="category" class="form-control"
             asp-items='@new SelectList(ItemTypes.Types, "Key", "Value")'>
         <option selected value="-1">All</option>
     </select>
 </div>
<div class="form-group">
    <button value="Search" onclick="Get()" class="btn btn-primary"> Search</button>
</div>

<div id="result">

</div>

<script>
    $(document).ready(function () {
        Get();
    });

    function Get() {
        var e = document.getElementById("category");
        var category = e.value;

        console.log("was");
     $.ajax({
        url: "@Url.Action("FilteredCharities", "Charities")?itemTypeId=" + category,
        type: 'GET',
        success: function (res) {
            $('#result').html(res);
         },
        error: function () {
         }
     });
    }

</script>