@model Karma.Models.Post

@{
    ViewData["Title"] = "Donation";
}

<h1>Donate</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Donate" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Donation Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemType" class="control-label">Category</label>
                <select asp-for="ItemType" class="form-control"
                        asp-items='@new SelectList(ItemTypes.Types, "Key", "Value")'>
                    <option value="-1">Select...</option>
                </select>
                <span asp-validation-for="ItemType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label">Upload image</label>
                <input type="file" class="form-control-file" accept=".jpg, .jpeg, .png, .bmp" name="file" />
                <span class="text-danger">@ViewBag.Message</span>
            </div>
            <input asp-for="UserId" type="hidden" value="@User.Identity.Name" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
